/* CSS styles */
body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

input, button {
  margin: 5px;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#signupForm {
  display: none;
}

/* Logo styling */
#logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Lecturer information styling */
.lecturer {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  background-color: aqua;
}

.lecturer h3 {
  margin-top: 0;
}